
<div class="jumbotron outie-sm">
  <div class="container p-a-3">
    <h3 class="glow"> <span data-variable="title"></span> </h3>
    <p class="p-a-3" data-include="about.md"></p>
  </div>
</div>


<div class="texture-5 p-a-3">
  <div class="container p-a-3">
    <div class="row">
      <div class="col-md-6 alfa main">
      </div>
      <div class="col-md-6 beta"></div>
    </div>
  </div>
</div>


<div class="innie-md">
  <div class="texture-4 p-a-3">
    <div class="container p-a-3">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 innie-sm p-b-1 gamma"></div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>



<div class="innie-sm">
  <div class="texture-6 p-a-3">
    <div class="container p-a-3">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 delta"></div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>

<div class="innie-sm">
  <div class="texture-2 p-a-3">
    <div class="container p-a-3">
      <div class="row">
         <div class="col-md-5 footer1"><p data-include="content/footer.md"></p></div>
         <div class="col-md-7 footer2"><p data-include="content/menu.md"></p></div>
      </div>
    </div>
  </div>
</div>
